/*=========================
    Main section
=========================*/

.sideBarIcon{
  position: relative;
}

body{
  overflow:hidden;
}

.mainContent{
  height: 100vh;
  display:table;
  margin-bottom: 50%;
}

/*=========================
    Sidebar section
=========================*/
.sideBar{
  position:fixed;
  right:2%;
  height: 100vh;
  z-index: 900;
}

.sideBarContent{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sideBarIcon{
  color:lightgray;
  margin-bottom: 20px;
  cursor:pointer;
  transition: 0.5s all;
  text-align: center;
}

.sideBarIcon:hover{
  opacity: 0.5;

}
.sideBarIcon.active{
  color:#ff9a97;
}


/*=========================
        Loader
=========================*/
.loader{
  position:fixed;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  background: white;
  z-index: 999;
}
.gone{
  width:0px !important;
}
.logoGif{
  position:absolute;
  top:0;
  right:0;
  left:0;
  bottom:0;
  margin:auto;
  width:100px;
  transition:0.5s all;
}
